@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    /* font-size: 22px; */
    color: #fff;
}

body {         
    min-height: 100vh;   
    background-color: rgb(255, 255, 255);    
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  
}

section {
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(98, 97, 97, 0.584);
    border: solid 1px;   
    border-radius: 0.3rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;    
}

a, a:visited {
    color: #fff;
}

input[type="text"],

label,
button {
  margin-top: 0.5rem;
}

.datePicker-label {
    color: rgba(33, 33, 33, 0.6);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.85em;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    margin-bottom: -2.1rem;   
    max-width: 133%;    
    left: 0;
    top: 0;
}

button {
  padding: 0.25rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.datePicker {
    background: rgb(255, 255, 255);        
    width: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    border: 0;
    border-radius: 0.2em; 
    padding: .375rem .75rem;  
}


.adminMenu{
    min-width: 100vw;    
    min-height: 100px;
    display: flex;    
    padding: 1rem;   
}

header{
  min-width: 100vw;   
  margin-bottom: 30px;
}

footer{
  min-width: 100vw;
  margin-top: 30px;
}
table{        
    min-height: 100px;
    max-width: 80vw;  
}
.orderList-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2{
    margin: 10px auto 10px auto ;
}
h4{
    margin: 1em;
}
.master-select {
    display: flex;
    justify-content: start;
    align-items: center;    
}

.master-select-radio {
    width: 15%; 
    margin-left: 20px;
    padding: auto;     
}
.review{       
    min-width: 35%;
    padding: 5px;        
}
.order-review > div {
    display: flex;    
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px; 
    margin: 7px auto 7px auto
}
.order-review > div > h5 {
    display: flex;
    justify-content: right;
    padding: 5px;
    width: 40%;    
}
.order-review > div > h6 {
    padding: 5px;
    width: 40%;  
}
.order-review-button{
    width: 60%;       
    margin: 0 auto;
}
.datePicker{
    border: solid 1px rgb(187, 182, 182);    
}
 /*------Success page-------*/
 .success{
    display: block;
    text-align: center;   
 }
